* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  border: red solid 1px;
}

body {
  height: 99vh;
}

p {
  font-size: 25px;
}

.div {
  position: absolute;
  top: 0;
  width: 98vw;
  height: 98vh;
}

.div::before {
  --R: 0;
  --L: 0;
  --T: 0;
  --B: 0;
  --size: 0;
  content: "";
  position: absolute;
  border-bottom: solid var(--B) black;
  border-top: solid var(--T) black;
  border-left: solid var(--L) black;
  border-right: solid var(--R) black;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
    closest-corner,
    transparent,
    black,
    red,
    transparent
  );
  transform: translate(-50%, -50%);
  transition: width 1s ease;
}

.div:hover::before {
  border-radius: 20000px;
  --size: 500px;
  --R: 5000px;
  --L: 5000px;
  --T: 5000px;
  --B: 5000px;
}
