* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  border: red solid 1px;
}

body {
  height: 99vh;
}

p {
  font-size: 25px;
}

.div {
  position: absolute;
  top: 0;
  border-bottom: solid 49vh- 100px black;
  border-top: solid 49vh- 100px black;
  border-left: solid 49vw- 100px black;
  border-right: solid 49vw- 100px black;
  width: 98vw;
  height: 98vh;
}

.div::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
    circle closest-side,
    rgb(149, 14, 14),
    transparent
  );
  transform: translate(-50%, -50%);
  transition: width 1s ease;
}

.div:hover::before {
  --size: 200px;
}
